/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-color, #000028);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--main-text-size, 18px);
  font-family: var(--main-font-family, IBM Plex Mono), sans-serif;
  font-weight: 400;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  justify-items: start;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color, #FF0070);
  border-inline-end: 1px solid var(--accent-color, #FF0070);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color, #FF0070);
  border-inline-start: 1px solid var(--accent-color, #FF0070);
  left: 10px;
  bottom: 10px;
}

.header__decor {
  position: absolute;
  line-height: 1.39;
  color: var(--accent-color, #FF0070);
  top: 10px;
  right: 38px;
  text-transform: uppercase;
}

.header__decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  background-color: var(--accent-color, #FF0070);
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  background-color: transparent;
  color: var(--accent-color, #FF0070);
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #FF0070);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.83;
  color: var(--accent-text-color, #DB00FF);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__text {
  font-size: var(--main-text-size, 18px);
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-color, #000028);
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
}